span code,
td code,
th code,
code,
code[class*="language-"],
.CodeMirror,
pre.ag-paragraph {
  font-family: "DejaVu Sans Mono", "Source Code Pro", "Droid Sans Mono", Consolas, monospace;
  font-size: 14px;
}

article.markdown-body {
  margin: 0 auto;
  padding: 0 40px 0 40px;
  padding-top: 20px;
  font-size: 14px;
}

article.markdown-body strong {
  font-weight: 600;
}

a {
  color: var(--themeColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
  cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  /*background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;*/
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p,
blockquote,
ul,
ol,
dl,
table {
  margin: 0.5em 0;
}

li>ol,
li>ul {
  margin: 0 0;
}

hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
}

a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
  margin-top: 0;
}

li p.first {
  display: inline-block;
}

li.ag-tight-list-item > p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding-left: 30px;
}

ul:first-child,
ol:first-child {
  margin-top: 0;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

blockquote {
  position: relative;
  padding: 0 30px;
  color: var(--editorColor50);
}

blockquote::before {
  content: '';
  display: block;
  height: 100%;
  width: 2px;
  position: absolute;
  left: 15px;
  top: 0;
  background: var(--themeColor);
}

blockquote blockquote {
  padding-right: 0;
}

table {
  padding: 0;
  word-break: initial;
  width: 100%;
  border-collapse: collapse;
  margin-top: 0;
}

table tr {
  margin: 0;
  padding: 0;
}

table thead tr,
table tr:nth-child(2n) {
  background-color: var(--editorColor04);
}

table tr th {
  font-weight: bold;
  border: 1px solid var(--editorColor10);
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid var(--editorColor10);
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th:first-child,
table tr td:first-child {
  margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
  margin-bottom: 0;
}

span code,
td code,
th code {
  background-color: var(--codeBlockBgColor);
  border-radius: 3px;
  padding: 0;
  /*font-family: Menlo, Monaco, Consolas, "Courier New", monospace;*/
  padding: 2px 4px 0px 4px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
  color: var(--editorColor);
}

:not(pre) > code[class*="language-"],
pre,
pre[class*="language-"] {
  overflow: visible;
  font-size: 90%;
  line-height: 1.6;
  background: var(--codeBlockBgColor);
  border: 0;
  border-radius: 3px;
  color: var(--editorColor50);
}

li.task-list-item {
  list-style-type: none;
  position: relative;
}

li.task-list-item > input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
  top: 1px;
  left: -23px;
  transform-origin: center;
  transition: all .2s ease;
}

li.task-list-item > input[checked] ~ * {
  color: var(--editorColor50);
}

li.task-list-item > input[checked] ~ p {
  text-decoration: line-through;
  color: var(--editorColor50);
}

li.task-list-item > input[type=checkbox]::before {
  content: '';
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid var(--editorColor50);
  border-radius: 50%;
  background-color: var(--editorBgColor);
  position: absolute;
  top: -2px;
  left: -2px;
  box-sizing: border-box;
  transition: all .2s ease;
}

li.task-list-item > input::after {
  content: '';
  transform: rotate(-45deg) scale(0);
  width: 8px;
  height: 4px;
  border: 2px solid var(--editorBgColor);
  border-top: none;
  border-right: none;
  position: absolute;
  display: inline-block;
  top: 1px;
  left: 4px;
  transform-origin: bottom;
  transition: all .2s ease;
}

li.task-list-item > input[checked]::after {
  transform: rotate(-45deg)  scale(1);
}

li.task-list-item > input[checked]::before {
  background: var(--themeColor);
  border-color: var(--themeColor);
  box-shadow: 0 3px 12px 0 var(--highlightColor);
}

pre {
  margin: .5rem 0;
  padding: .5rem;
}


/*
 * Prism.js theme
 */
@import url("./prismjs/light.theme.css");
